@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.touch {
	@include section;
	&__wrapper {
		margin-top: 59px;
	}
	&__fieldset {
		border: none;
		padding: 0;
		margin: 0;
	}
	&__label {
			&:nth-child(2) {
			margin-top: 8px;
		}
	}
	&__input {
		height: 48px;
	}
	&__img,
	&__decor{
		display: none;
	}
	&__textarea {
		height: 132px;
		resize: none;
	}
	&__agreement {
		margin-top: 20px;
	}
	&__footer {
		display: flex;
		justify-content: space-between;
	}
}

@media screen and (min-width: 768px) {
  .touch {
		&__form {
			position: relative;
		}
    &__decor {
      display: block;
			position: absolute;
			bottom: 0;
			right: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
	.touch {
		&__img {
			display: block;
			width: 550px;
			height: 342px;
			object-fit: cover;
			box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
		}
		&__form {
			padding-left: 20px;
		}
	}
}

@media screen and (min-width: 1920px) {
	.touch {
		padding-top: 100px;
		&__img {
			width: 100%;
			height: 356px;
		}
		&__form {
			width: auto;
			padding-left: 143px;
		}
		&__fieldset {
			display: flex;
			column-gap: 45px;
		}
		&__decor {
			right: 75px;
		}
	}
}
