@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.touch {
	@include section;
	&__wrapper {
		margin-top: 59px;
	}
	&__fieldset {
		border: none;
		padding: 0;
		margin: 0;
	}
	&__input {
		height: 48px;
	}
	&__img,
	&__decor{
		display: none;
	}
	&__textarea {
		height: 132px;
		resize: none;
	}
	&__agreement {
		margin-top: 20px;
	}
	&__footer {
		display: flex;
		justify-content: space-between;
	}
}

@media screen and (min-width: 768px) {
  .touch {
		&__form {
			position: relative;
		}
    &__decor {
      display: block;
			position: absolute;
			bottom: 0;
			right: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
	.touch {
		&__img {
			display: block;
		}
		&__form {
			padding-left: 20px;
		}
	}
}
