@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.form__field{
	@include form-area;
	width: 300px;
	&:hover {
		border: none;
		outline: 1px solid $dark;
	}
	&:focus {
		border: none;
		outline: 1px solid $dark;
	}
/* 	&:invalid {
		border: none;
		outline: 1px solid $ui-error;
	} */
}

.form {
	&__label {
		font-size: 14px;
		font-family: "Inter";
		color: $dark;
	}
}


.checkbox {
	display: flex;
	gap: 7px;
	align-items: center;
	&__label {
		a {
			text-decoration: none;
			color: #A22DC6;
		}
	}
}

